<p id="notice"><%= notice %></p>

<p>
  <strong>Inventar:</strong>
  <%= @obj.inventar %>
</p>

<p>
  <strong>Category:</strong>
  <%= @obj.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @obj.name %>
</p>

<p>
  <strong>Sdate:</strong>
  <%= @obj.sdate %>
</p>

<p>
  <strong>Expdate:</strong>
  <%= @obj.expdate %>
</p>

<p>
  <strong>Id:</strong>
  <%= @obj.id %>
</p>

<p>
  <strong>Img:</strong>
  <%= @obj.img %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @obj.geo %>
</p>

<p>
  <strong>Ksk:</strong>
  <%= @obj.ksk %>
</p>

<p>
  <strong>Ikomek:</strong>
  <%= @obj.ikomek %>
</p>

<p>
  <strong>District:</strong>
  <%= @obj.district %>
</p>

<p>
  <strong>Checktimes:</strong>
  <%= @obj.checktimes %>
</p>

<p>
  <strong>Userimg1:</strong>
  <%= @obj.userimg1 %>
</p>

<p>
  <strong>Usergeo1:</strong>
  <%= @obj.usergeo1 %>
</p>

<p>
  <strong>Userimg2:</strong>
  <%= @obj.userimg2 %>
</p>

<p>
  <strong>Usergeo2:</strong>
  <%= @obj.usergeo2 %>
</p>

<p>
  <strong>Userimg3:</strong>
  <%= @obj.userimg3 %>
</p>

<p>
  <strong>Usergeo3:</strong>
  <%= @obj.usergeo3 %>
</p>

<%= link_to 'Edit', edit_obj_path(@obj) %> |
<%= link_to 'Back', objs_path %>
